* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: blueviolet;
    padding: 16px 0;
    border-bottom: 16px solid #26394e;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    color:#fff;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

form input, form button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

}

#botao-cancelar {
    background-color: red;
}
